.wrapper{
    position: sticky;
    top: 0;
    right: 0;
    height: 100vh;
    width: 345px;
    display: flex;
    align-items: center;
    gap: 10px;  
}

.bag_space {
    
    border-left: 4px solid  rgba(7, 7, 7, 0.38);
    padding: 50px 20px;
    height:80%
}
.image{
    width: 52px;
    height: 72px;
    margin-right: 46px;
    margin-top: 46px; 
    display: inline-block;
}
.button_wrapper{ 
    
    margin-top:65px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button{
    background-color: black;
    border-radius:14px;
    width: 150px;
    height: 40px;
    color: white;
    font-size:18px;
}
.icon {
    margin-right:9px;
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:39px;
}