.wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 10px;
  width: 40px;
}
.icon {
  cursor: pointer;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px;
}

.number {
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px;
}
