.wrapper_table{
    width: 100%;
   
 

    display: flex;
    justify-content: center;
    align-items: center;
   

}
.box{
    width: 93%;
}

.wrapper {
    width: 100%;
    background-color: rgba(107, 255, 186, 0.613);
    border-radius:10px;
       height:80px;
       margin-top:10px;
   display:flex;
   
   }
   .cell{
       display: flex;
       justify-content: center;
       align-items: center;
       width: 14%;
       padding: 10px;
       border-right: 1px solid rgba(85, 85, 85, 0.688);
   }