.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.box {
  transition-property: all;
  transition-duration: 1ms;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  min-width: 500px;
  @media only screen and (min-width: 120px) and (max-width: 768px) {
    min-width: 200px;
  }
}

.input {
  display: flex;
  gap: 20px;
  @media only screen and (min-width: 120px) and (max-width: 768px) {
    display: block;
    margin-bottom: 10px;
  }
}

.error {
  color: red;
}

.button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
