.center{

    width: 92%;
    
}
.wrapper{
    
    position: relative;
    display:flex;
    justify-content: center;
    width:100%;
    @media only screen
    and (min-width: 120px)
    and (max-width: 768px) {
       
        display: block;
        
    }   
  
}   